<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <ModDirectory>G:\Modded\r2modman\LethalCompany\profiles\Debug</ModDirectory>
    </PropertyGroup>
    <PropertyGroup>
        <GameDirectory>G:\Steam\steamapps\common\Lethal Company</GameDirectory>
    </PropertyGroup>
</Project>